@font-face {
    src: url('fonts/kawoszeh.otf');
    font-family: 'kawoszeh';
}

/*  COLOURS
    cream: #E8E3D8;
    bronze: #CE976D;
    palepink: #C5968A;
    redpink: #DB7C7B;
    purple: #DBBCD7;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Krona One", sans-serif;
    padding-top: 170px;
    background-color: #E8E3D8;
}

h1, h4 {
    font-family: "kawoszeh", sans-serif;
}

input{
    font-size: x-small;
}

::placeholder{
    color: #ce976d88;
    font-size: x-small;
}

input[type="submit"], button {
    font-size: small;
    background-color: #CE976D;
    color: #E8E3D8;
    border: none;
    margin: 0;
    padding: 10px 60px;
    margin-top: 10px;
}

form{
    margin: 0;
    padding: 0;
}



/* ********************************************************************************* */
/* NAV */

nav{
    font-family: "Krona One", sans-serif;
    background-color: #E8E3D8;
    color: #CE976D;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid #CE976D;
    font-size: small;
    transition: 0.4s;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

nav .navIcons {
    display: flex;
}

nav .navIcons div {
    margin-left: 15px;
}

nav .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

nav .navbar ul{
    list-style: none;
    display: flex;
    
}

nav .navbar a{
    color: #CE976D;
}

nav .navbar .ml {
    margin-left: 25px;
}

input {
    color: #CE976D;
    background-color: #E8E3D8;
    border: none;
    border-bottom: 1px solid #CE976D;
}



/* ********************************************************************************* */
/* INDEX */

#intro{
    background-color: #E8E3D8;
    color: #CE976D;
}

#intro .row{
    width: 100%;
}

#intro .imgIntroHome{
    background-image: url('../img/general/forYourHome.jpeg');
    background-size: cover;
    width: 400px;
    height: 500px;
    position: relative;
}

#intro .imgIntroHome .hover{
    background-color: #e8e3d8d0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
}

#intro .imgIntroHome:hover .hover{
    display: block;
}

#intro .imgIntroHome .hover a{
    position: absolute;
    color: white;
    bottom: 5%;
    left: 40%;
}

#intro .imgIntroBaby{
    background-image: url('../img/general/forYourBaby.jpg');
    background-size: cover;
    width: 400px;
    height: 500px;
    position: relative;
}

#intro .imgIntroBaby .hover{
    background-color: #e8e3d8d0;
    
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
}

#intro .imgIntroBaby:hover .hover{
    display: block;
}

#intro .imgIntroBaby .hover a{
    position: absolute;
    color: white;
    bottom: 5%;
    left: 40%;
}
#indexHome {
    background-color: #C5968A;
    color: #E8E3D8;
}

#indexHome .carousel-control-next-icon, #indexHome .carousel-control-prev-icon {
    background-color: #C5968A;
    background-size: 55px;
    border-radius: 15%;
}

#indexHome .produto {
    width: 300px;
}

#indexHome .produtos a {
    font-family: krona one;
    font-size: xx-small;
    color: #E8E3D8;
    text-decoration: none;
}

#indexHome .pdtImg{
    background-size: cover;
    width: 300px;
    height: 300px;
    position: relative;
}

#indexHome .pdtImg .hover{
    background-color: #e8e3d864;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
}

#indexHome .pdtImg:hover .hover{
    display: block;
}

#indexHome .heart {
    color: #CE976D;
    position: absolute;
    right: 6%;
    top: 6%;
}

#indexHome .heart:hover .heartOutline{
    display:none;
}

#indexHome .heart .heartFull{
    display:none;
}

#indexHome .heart:hover .heartFull{
    display:block;
}

#brands {
    background-color: #E8E3D8;
    color: #CE976D;
}



#indexBaby {
    background-color: #DBBCD7;
    color: #DB7C7B;
}

#indexBaby .carousel-control-next-icon, #indexBaby .carousel-control-prev-icon {
    background-color: #DBBCD7;
    background-size: 55px;
    border-radius: 15%;
}

#indexBaby .produto {
    width: 300px;
}

#indexBaby .produtos a {
    font-family: krona one;
    font-size: xx-small;
    color: #E8E3D8;
    text-decoration: none;
}

#indexBaby .pdtImg{
    background-size: cover;
    width: 300px;
    height: 300px;
    position: relative;
}

#indexBaby .pdtImg .hover{
    background-color: #e8e3d864;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
}

#indexBaby .pdtImg:hover .hover{
    display: block;
}

#indexBaby .heart {
    color: #CE976D;
    position: absolute;
    right: 6%;
    top: 6%;
}

#indexBaby .heart:hover .heartOutline{
    display:none;
}

#indexBaby .heart .heartFull{
    display:none;
}

#indexBaby .heart:hover .heartFull{
    display:block;
}



/* ********************************************************************************* */
/* LOGIN */

#login{
    background-color: #E8E3D8;
    color: #CE976D;
    margin-top: 60px;
    margin-bottom: 80px;
}

#login .row{
    width: 100%;
}

.doLogin, .newAccount {
    background-color: #E8E3D8;
    color: #CE976D;
    border: 1px solid #CE976D;
    font-size: small;
    padding: 10px;
    width: 100%;
}

#login input {
    margin-left: 10px;
    border: 0.5px solid #CE976D;
    width: 70%;
    padding: 5px;
}

#login input[type="submit"]{
    font-size: small;
    background-color: #CE976D;
    color: #E8E3D8;
    border: none;
    margin: 0;
    padding: 10px 60px;
    margin-top: 30px;
}



/* ********************************************************************************* */
/* ACCOUNT */

#account{
    background-color: #E8E3D8;
    color: #CE976D;
}

#account h1{
    color: #CE976D;
}

#account a{
    text-decoration: none;
    color: #CE976D;
}



/* ********************************************************************************* */
/* ADMIN */

#admin, #adminProduct, #adminNewProduct, #adminEditProduct, #adminBrand, #adminNewBrand, #adminEditBrand, #adminCategory, #adminNewCategory, #adminEditCategory, #adminSubCategory, #adminNewSubCategory, #adminEditSubCategory, #adminProductType, #adminNewProductType, #adminEditProductType{
    background-color: #E8E3D8;
    color: #CE976D;
}

#admin h1{
    color: #CE976D;
}

#admin a{
    text-decoration: none;
    color: #CE976D;
}



/* ********************************************************************************* */
/* ADMIN PRODUCTS */

#adminProduct table {
    font-size: xx-small;
    margin-left: 20px;
    margin-right: 50px;
    width: 100%;
}

#adminProduct table, tr, th, td{
    border: 0.5px dotted grey;
    padding: 5px 10px; 
    width: auto;


}
#adminProduct table a {
    text-decoration: none;
    color: #CE976D;
}

#adminNewProduct div {
    font-size: small;
}

#adminNewProduct input, textarea {
    margin-left: 10px;
    border: 0.5px solid #CE976D;
    width: 70%;
    padding: 5px;
}

#adminNewProduct input[type="submit"]{
    width: 200px;
    margin-left: 0;
}

#adminEditProduct div {
    font-size: small;
}

#adminEditProduct input {
    margin-left: 10px;
    border: 0.5px solid #CE976D;
    width: 70%;
    padding: 5px;
}

#adminEditProduct input[type="submit"]{
    width: 200px;
    margin-left: 0;
}



/* ********************************************************************************* */
/* ADMIN BRANDS */

#adminBrand table {
    font-size: xx-small;
    margin-left: 20px;
    margin-right: 50px;
    width: 100%;
}

#adminBrand table, tr, th, td{
    border: 0.5px dotted grey;
    padding: 5px 10px; 
    width: auto;


}
#adminBrand table a {
    text-decoration: none;
    color: #CE976D;
}

#adminNewBrand div {
    font-size: small;
}

#adminNewBrand input, textarea {
    margin-left: 10px;
    border: 0.5px solid #CE976D;
    width: 70%;
    padding: 5px;
}

#adminNewBrand input[type="submit"]{
    width: 200px;
    margin-left: 0;
}

#adminEditBrand div {
    font-size: small;
}

#adminEditBrand input {
    margin-left: 10px;
    border: 0.5px solid #CE976D;
    width: 70%;
    padding: 5px;
}

#adminEditBrand input[type="submit"]{
    width: 200px;
    margin-left: 0;
}



/* ********************************************************************************* */
/* ADMIN CATEGORY */

#adminCategory table {
    font-size: xx-small;
    margin-left: 20px;
    margin-right: 50px;
    width: 100%;
}

#adminCategory table, tr, th, td{
    border: 0.5px dotted grey;
    padding: 5px 10px; 
    width: auto;


}
#adminCategory table a {
    text-decoration: none;
    color: #CE976D;
}

#adminNewCategory div {
    font-size: small;
}

#adminNewCategory input, textarea {
    margin-left: 10px;
    border: 0.5px solid #CE976D;
    width: 70%;
    padding: 5px;
}

#adminNewCategory input[type="submit"]{
    width: 200px;
    margin-left: 0;
}

#adminEditCategory div {
    font-size: small;
}

#adminEditCategory input {
    margin-left: 10px;
    border: 0.5px solid #CE976D;
    width: 70%;
    padding: 5px;
}

#adminEditCategory input[type="submit"]{
    width: 200px;
    margin-left: 0;
}



/* ********************************************************************************* */
/* ADMIN SUB CATEGORY */

#adminSubCategory table {
    font-size: xx-small;
    margin-left: 20px;
    margin-right: 50px;
    width: 100%;
}

#adminSubCategory table, tr, th, td{
    border: 0.5px dotted grey;
    padding: 5px 10px; 
    width: auto;


}
#adminSubCategory table a {
    text-decoration: none;
    color: #CE976D;
}

#adminNewSubCategory div {
    font-size: small;
}

#adminNewSubCategory input, textarea {
    margin-left: 10px;
    border: 0.5px solid #CE976D;
    width: 70%;
    padding: 5px;
}

#adminNewSubCategory input[type="submit"]{
    width: 200px;
    margin-left: 0;
}

#adminEditSubCategory div {
    font-size: small;
}

#adminEditSubCategory input {
    margin-left: 10px;
    border: 0.5px solid #CE976D;
    width: 70%;
    padding: 5px;
}

#adminEditSubCategory input[type="submit"]{
    width: 200px;
    margin-left: 0;
}



/* ********************************************************************************* */
/* ADMIN PRODUCT TYPE */

#adminProductType table {
    font-size: xx-small;
    margin-left: 20px;
    margin-right: 50px;
    width: 100%;
}

#adminProductType table, tr, th, td{
    border: 0.5px dotted grey;
    padding: 5px 10px; 
    width: auto;


}
#adminProductType table a {
    text-decoration: none;
    color: #CE976D;
}

#adminNewProductType div {
    font-size: small;
}

#adminNewProductType input, textarea {
    margin-left: 10px;
    border: 0.5px solid #CE976D;
    width: 70%;
    padding: 5px;
}

#adminNewProductType input[type="submit"]{
    width: 200px;
    margin-left: 0;
}

#adminEditProductType div {
    font-size: small;
}

#adminEditProductType input {
    margin-left: 10px;
    border: 0.5px solid #CE976D;
    width: 70%;
    padding: 5px;
}

#adminEditProductType input[type="submit"]{
    width: 200px;
    margin-left: 0;
}



/* ********************************************************************************* */
/* ABOUT US */

#aboutUs {
    background-color: #E8E3D8;
    color: #CE976D;
    width: 100%;
}

#aboutUs .row {
    width: 100%;
}

#aboutUs p {
    font-size: 12px;
}



/* ********************************************************************************* */
/* HOME */

#home {
    background-color: #C5968A;
    color: #E8E3D8;
    width: 100%;
}

#home .cat{
    color: #E8E3D8;
    text-decoration: none;
    font-family: kawoszeh;
    font-size: large;
}

#home .subCat{
    color: #E8E3D8;
    text-decoration: none;
    font-family: krona one;
    font-size: xx-small;
}

#home .main{
    width: 80%;
}

#home .title{
    text-align: right;
    width: 100%;
}

#home .produto {
    width: 300px;
}

#home .produtos a {
    font-family: krona one;
    font-size: xx-small;
    color: #E8E3D8;
    text-decoration: none;
}

#home .pdtImg{
    background-size: cover;
    width: 300px;
    height: 300px;
    position: relative;
}

#home .pdtImg .hover{
    background-color: #e8e3d864;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
}

#home .pdtImg:hover .hover{
    display: block;
}

#home .heart {
    color: #CE976D;
    position: absolute;
    right: 6%;
    top: 6%;
}

#home .heart:hover .heartOutline{
    display:none;
}

#home .heart .heartFull{
    display:none;
}

#home .heart:hover .heartFull{
    display:block;
}






/* ********************************************************************************* */
/* CONTACT */

#contact {
    background-color: #E8E3D8;
    color: #CE976D;
    width: 100%;
    font-size: x-small;
}

#contact .row {
    width: 100%;
}




/* ********************************************************************************* */
/* FOOTER */

footer {
    display: flex;
    background-color: #E8E3D8;
    color: #CE976D;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
    border-top: 2px solid #CE976D;
}

footer a{
    color: #CE976D;
    text-decoration: none;
}

footer .column {
    display: flex;
    flex-direction: column;
}

footer .column .subpage {
    font-size: x-small;
    padding-top: 10px;
}

footer .facmargin {
    margin-right: 10px;
}

