@font-face {
    src: url('fonts/kawoszeh.otf');
    font-family: 'kawoszeh';
}

/*  COLOURS
    cream: #E8E3D8;
    bronze: #CE976D;
    palepink: #C5968A;
    redpink: #DB7C7B;
    purple: #DBBCD7;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Krona One", sans-serif;
    padding-top: 170px;
    background-color: #E8E3D8;
}

h1, h4 {
    font-family: "kawoszeh", sans-serif;
}

input{
    font-size: x-small;
}

::placeholder{
    color: #ce976d88;
    font-size: x-small;
}

input[type="submit"]{
    font-size: small;
    background-color: #CE976D;
    color: #E8E3D8;
    border: none;
    margin: 0;
    padding: 10px 60px;
    margin-top: 10px;
}

form{
    margin: 0;
    padding: 0;
}



/* ********************************************************************************* */
/* NAV */

nav{
    font-family: "Krona One", sans-serif;
    background-color: #E8E3D8;
    color: #CE976D;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid #CE976D;
    font-size: small;
    transition: 0.4s;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

nav .navIcons {
    display: flex;
}

nav .navIcons div {
    margin-left: 15px;
}

nav .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

nav .navbar ul{
    list-style: none;
    display: flex;
    
}

nav .navbar a{
    color: #CE976D;
}

nav .navbar .ml {
    margin-left: 25px;
}

input {
    color: #CE976D;
    background-color: #E8E3D8;
    border: none;
    border-bottom: 1px solid #CE976D;
}



/* ********************************************************************************* */
/* INDEX */

#intro{
    background-color: #E8E3D8;
    color: #CE976D;
}

#intro .row{
    width: 100%;
}

#intro .container .left h1{
    text-align: right;
}

#intro .imgIntro {
    position: relative;
}

#intro .imgIntro .hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
    font-family: "krona one", sans-serif;
}

#intro .imgIntro .hover:hover{
    display: block;
    transition: all 0.5s ease-in-out;
}

#intro .hover .shade {
    background-color: #e8e3d8;
    mix-blend-mode: lighten;
}

#home {
    background-color: #C5968A;
    color: #E8E3D8;
}

#brands {
    background-color: #E8E3D8;
    color: #CE976D;
}

#baby {
    background-color: #DBBCD7;
    color: #DB7C7B;
}



/* ********************************************************************************* */
/* LOGIN */

#login{
    background-color: #E8E3D8;
    color: #CE976D;
    margin-top: 60px;
    margin-bottom: 80px;
}

#login .row{
    width: 100%;
}

.doLogin, .newAccount {
    background-color: #E8E3D8;
    color: #CE976D;
    border: 1px solid #CE976D;
    font-size: small;
    padding: 10px;
    width: 100%;
}

#login input {
    margin-left: 10px;
    border: 0.5px solid #CE976D;
    width: 70%;
    padding: 5px;
}

#login input[type="submit"]{
    font-size: small;
    background-color: #CE976D;
    color: #E8E3D8;
    border: none;
    margin: 0;
    padding: 10px 60px;
    margin-top: 30px;
}





/* ********************************************************************************* */
/* ABOUT US */

#aboutUs {
    background-color: #E8E3D8;
    color: #CE976D;
    width: 100%;
}

#aboutUs .row {
    width: 100%;
}

#aboutUs p {
    font-size: 12px;
}



/* ********************************************************************************* */
/* CONTACT */

#contact {
    background-color: #E8E3D8;
    color: #CE976D;
    width: 100%;
}

#contact .row {
    width: 100%;
}

#contact p {
    font-size: 12px;
}



/* ********************************************************************************* */
/* FOOTER */

footer {
    display: flex;
    background-color: #E8E3D8;
    color: #CE976D;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
    border-top: 2px solid #CE976D;
}

footer a{
    color: #CE976D;
    text-decoration: none;
}

footer .column {
    display: flex;
    flex-direction: column;
}

footer .column .subpage {
    font-size: x-small;
    padding-top: 10px;
}

footer .facmargin {
    margin-right: 10px;
}

